
/* Site settings */

body, html {
    margin: 0;
    padding: 0;
}

.site-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Particle CSS */
.particle-animation {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particle-animation *:last-child {
    position: absolute;
}

.particles {
    position: relative;
    z-index: 2;
}