
/* Site settings */

body, html {
    margin: 0;
    padding: 0;
}

.site-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Particle CSS */
.particle-animation {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particle-animation *:last-child {
    position: absolute;
}

.particles {
    position: relative;
    z-index: 2;
}

@keyframes shake-crazy {
    10% {
        transform: translate(2px, 1px) rotate(2deg);
    }

    20% {
        transform: translate(-2px, -1px) rotate(9deg);
    }

    30% {
        transform: translate(0px, -2px) rotate(5deg);
    }

    40% {
        transform: translate(-2px, 3px) rotate(-2deg);
    }

    50% {
        transform: translate(1px, 1px) rotate(-3deg);
    }

    60% {
        transform: translate(-1px, -2px) rotate(3deg);
    }

    70% {
        transform: translate(-2px, 1px) rotate(5deg);
    }

    80% {
        transform: translate(1px, -2px) rotate(-5deg);
    }

    90% {
        transform: translate(-2px, -1px) rotate(9deg);
    }

    0%,
    100% {
        transform: translate(0, 0) rotate(0)
    }
}

.shake-animate {
    animation-name: shake-crazy;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}
