
/* Site settings */

body, html {
    margin: 0;
    padding: 0;
}

.site-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Particle CSS */
.particle-animation {
    margin: 0;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particles {
}